/* lay out the photos next to each other */

main img {
    max-width: 100%;
    width: 50%;
    height: 27em;
    float: left;
    padding: 1em;
}


/* display photos one on each line for a smaller screen */

@media only screen and (max-width: 630px) {
    main img {
        float: none;
        width: 100%;
        height: auto;
    }
}